body {
  background-color: #f8f9fa;
  direction: rtl;
}

.sidebar {
  min-height: 100vh;
  background-color: #343a40;
}

.app-container {
  display: flex;
}

.main {
  background-color: white;
  min-height: 100vh;
}

.clock {
  font-size: 1.2rem;
}
